<div class="login-area">
    <div class="login-body">
        <div class="login-screen">
            <div class="Absolute-Center is-Responsive">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="logo-area"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 text-center logo-resize">
                            <h1 class="version-one text-center">Ready. Steady. FLY</h1>
                            <form class="form-inline login-form">
                                <div class="row input-areas">
                                    <div class="col-lg-6 col-centered responsive-inputs">
                                        <div class="input-group">
                                            <input class="Login-inputMaterial text-right" type="text" ng-model="username" placeholder="username@yourcompany.com">
                                            <span class="input-group-addon login-divide">-</span>
                                            <input class="Login-inputMaterial register-text" type="password" ng-model="password" placeholder="yourpassword">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-centered">
                                        <input type="submit" class="btn login-button" value="Login" ng-click="login()" id="loginButton" />
                                    </div>
                                </div>
                                <span class="login-progress">
                                    <span class="Login-progress-bg">
                                        <span ng-hide="spinner" class="Login-progress-fg"></span>
                                        <span ng-show="spinner" class="Login-progress-fg-logging-in"></span>
                                    </span>
                                </span>
                                <div class="row">
                                    <div class="col-md-6 col-centered">
                                        <input type="submit" class="btn register-button" value="Register" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 text-center">
                                        <h4 class="version-three text-center">New bird on the block?</h4>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="magpie-container">
                <div class="logo-box">
                    <div class="logo-svg"></div>
                </div>
            </div>
        </div>
    </div>
</div>




